<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Hangman
  body
    .game-board
      h1.game-board__header Hangman Game
      .game-board__category Category:
        span.game-board__category-display
      .game-board__word-to-guess
      span.game-board__missed-letters
      input.game-board-input(type="text")
